/**//**//**//**//**//**//* FONTS *//**//**//**//**//**//**/
@font-face {
    font-family:'Jetbrains-light';
    src: url('fonts/JetBrainsMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Jetbrains-light-italic';
    src: url('fonts/JetBrainsMono-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Jetbrains-extrabold';
    src: url('fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Jetbrains-extralight';
    src: url('fonts/JetBrainsMono-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Gilroy-bold';
    src: url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Gilroy-regular';
    src: url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Gilroy-semibold';
    src: url('fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**//**//**//**//**//* VARIÁVEIS *//**//**//**//**//**//**/
:root {
    --bg: black;
    --text: white;
    --transition: 0.3s ease;
}

/**//**//**//**//* BODY DARK/LIGHT MODES *//**//**//**//**/
body {
    margin: 0;
    --bg: black;
    --text: white;
    background-color: var(--bg);
    color: var(--text);
    transition: var(--transition);
    overflow-x: hidden;
}

body.light-mode {
    --bg: white;
    --text: black;
}

/**//**//**//**//* TRANSIÇÃO PÁGINAS *//**//**//**//**/
body {
  opacity: 0;
    transition: var(--transition);}

body.loaded {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 0px;   /* remove a barra horizontal */
  background: transparent; /* opcional */
}

/**//**//**//**//* ESCONDER BARRA SCROLL *//**//**//**//**/
.scroll-container {
    /* Firefox */
    scrollbar-width: none;     
    /* Internet Explorer 10+ */
    -ms-overflow-style: none; 
}

/* Chrome, Edge, Safari */
.scroll-container::-webkit-scrollbar {
    display: none;
}

/**//**//**//**//**//**//* HOME *//**//**//**//**//**//**/
/**//**//**//**//**//**//* HOME *//**//**//**//**//**//**/
/**//**//**//**//**//**//* HOME *//**//**//**//**//**//**/

/**//**//**//**//**//**//* MENU *//**//**//**//**//**//**/
.top-menu {
    overflow: hidden;
    position: fixed; 
    padding: 12px 18px;
    width: 100%;  
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-sizing: border-box;
    min-width: 700px;
    z-index: 1000;
   
    font-family: 'Jetbrains-light';
    font-size: 9pt;
    color: var(--text);
}

/* home button and hover 'change text' effect */
#home-button a {
    justify-self: start;
    text-decoration: none;
    font-family: 'Jetbrains-light-italic';
    color: var(--text);
    position: relative;
    display: inline-block;
    cursor: default;
}

#home-button .text{
    transition: var(--transition);
    width: max-content;
}

#home-button .hover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#home-button a:hover .normal{
    opacity: 0;
}

#home-button a:hover .hover{
    opacity: 1;
}

/* central buttons and hover 'highlight' effect */
#central-buttons {
    display: flex;
    gap: 19vw;
    justify-content: center;
    padding-left: 1.5vw;
}

#central-buttons a {
    text-decoration: none;
    color: var(--text);
    padding: 2px 1px;
    transition: var(--transition);
}

#central-buttons a:hover {
    background-color: var(--text);
    color: var(--bg);
}

/**//**//**//**//**//**//* DARK MODE *//**//**//**//**//**/
/* dark mode switch - animation */
.switch-button input {
    display: none;
}

.switch-button {
    width: 33px;
    height: 15px;
    background-color: white;
    border-radius: 50px;
    padding: 2px;
    justify-self: end;
    position: relative;
    transition: var(--transition);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icons {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    transition: var(--transition);
}

.icons img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

label {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
}

.switch-button:has(input:checked) {
    background-color: black;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.187);
    border-style: solid;
}

.switch-button:has(input:checked) .icons {
    transform: translateY(-50%) translateX(16px);
}

.switch-button:has(input:checked) .icons img:first-child {
    opacity: 0;  /* lua desaparece */
}

.switch-button:has(input:checked) .icons img:last-child {
    opacity: 1;  /* sol aparece */
}

.icons img:first-child {
    opacity: 1;
}

.icons img:last-child {
    opacity: 0;
}

/* dark mode switch - change bg and text color */
body:has(#switch:checked) {
    --bg: white;
    --text: black;
}

/* dark mode switch - hover */
.switch-button:hover {
    filter: brightness(0.8);
}

/**//**//**//**//**//**//* PROJECTOS *//**//**//**//**//**/
.scroll-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    padding: 0 18px;
    box-sizing: border-box;
}

.scroll-container a {
    flex: 0 0 auto;
    display: block;
}

.scroll-container a img {
    display: block;
    max-height: 42vh;
    width: auto;
    border-radius: 12px;
    object-fit: cover;
    transition: var(--transition);
}

.scroll-container a img:hover {
    filter: brightness(0.8);
}

/**//**//**//**//**//**//* CURSOR HOVER *//**//**//**//**//**//**/
#cursor-text-home {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.15s ease;    
    z-index: 9999;
    display: flex;
    gap: 6px;
    font-size: 9pt;
    color: black;
    background-color: white;
    padding: 2px 1px;
    white-space: nowrap;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.cursor-word-1 {
    font-family: 'Jetbrains-extrabold';
}

.cursor-word-2 {
    font-family: 'Jetbrains-light';
}

.scroll-container a img:hover {
    cursor: none;
}

/**//**//**//**//**//**//* FOOTER *//**//**//**//**//**//**/
.home-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    font-family: 'Jetbrains-light';
    font-size: 8pt;
    padding: 12px 18px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 60%;
}

/**//**//**//**//**//**//* ABOUT *//**//**//**//**//**//**/
/**//**//**//**//**//**//* ABOUT *//**//**//**//**//**//**/
/**//**//**//**//**//**//* ABOUT *//**//**//**//**//**//**/

/**//**//**//**//**//**//* JOURNEY *//**//**//**//**//**//**/
.container-about {
    position: relative; /* referência para elementos absolutos dentro */
    width: 100%;
    display: flex;
    justify-content: center;
}

.journey-page {
    background-color: rgb(220, 220, 220);
    color: black;
    border-radius: 12px;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 80px;
    transition: transform 0.3s ease, margin-top 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    z-index: 1;
}

.journey-page:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.journey {
    font-family: 'Jetbrains-light';
    font-size: 7.5pt;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    width: 76vw;
    padding: 5px 0px;
    text-align: center;
}

.experience {
    width: 76vw;
    text-align: center;
    font-size: 30pt;
    font-family: 'Gilroy-bold';
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
}

.experience-topics,
.experience-info {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 1vw;
    width: 74vw;
    font-size: 8.5pt;
    padding: 25px 1vw;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
}

.experience-topics {
    font-family: 'Jetbrains-extrabold';
}

.experience-info {
    font-family: 'Jetbrains-light';
}

.experience-info a {
    color: black;
    padding: 0 1px;
    transition: var(--transition);
}

.experience-info a:hover {
    background-color: black;
    color: white;
}

/**//**//**//**//**//**//* SKILLS *//**//**//**//**//**//**/
.skills-page {
    background-color: #74b8eb;
    color: black;
    border-radius: 12px;
    width: 50vw;
    height: auto;
    transition: transform 0.3s ease, margin-top 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    position: absolute;
    top: 154px;
    z-index: 2;
    left: 50%; 
    transform: translateX(-50%);
}

#skills-page:hover {
    margin-top: -8px;
    cursor: pointer;
}

.skillsets {
    font-family: 'Jetbrains-light';
    font-size: 7.5pt;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    width: 46vw;
    padding: 5px 0px;
    text-align: center;
}

.skills {
    width: 46vw;
    text-align: center;
    font-size: 30pt;
    font-family: 'Gilroy-bold';
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
}

.skills-list {
    width: 46vw;
    text-align: center;
    font-size: 10.5pt;
    font-family: 'Gilroy-regular';
    padding: 10px 0px;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
}

.skills-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    width: 44vw;
    font-size: 8.5pt;
    padding: 8px 1vw;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
    font-family: 'Jetbrains-light';
}

.skills-info::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1.5px dotted rgba(0,0,0,0.3);
}

.languages-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
    width: 44vw;
    font-size: 8.5pt;
    padding: 8px 1vw;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
    font-family: 'Jetbrains-light';
    text-align: center;
}

.languages-info::before,
.languages-info::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1.5px dotted rgba(0,0,0,0.3);
}

.languages-info::before {
    left: 33.333%;
}

.languages-info::after {
    left: 66.666%;
}

/**//**//**//**//**//**//* ABOUT ME *//**//**//**//**//**//**/
.profile-page {
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 66vw;
    height: auto;
    transition: transform 0.3s ease, margin-top 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
    position: absolute;
    top: 228px;
    z-index: 3;
    left: 50%; 
    transform: translateX(-50%);
}

#profile-page:hover {
    margin-top: -8px;
    cursor: pointer;
}

.about-me {
    font-family: 'Jetbrains-light';
    font-size: 7.5pt;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    width: 62vw;
    padding: 5px 0px;
    text-align: center;
}

.profile {
    width: 62vw;
    text-align: center;
    font-size: 30pt;
    font-family: 'Gilroy-bold';
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
}

.profile-info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    font-size: 10pt;
    padding: 8px 1vw;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
    font-family: 'Gilroy-regular';
    line-height: 15pt;
}

.profile-info p {
    margin-bottom: 0;
}

.profile-first-line {
    opacity: 40%;
}

.profile-info img {
    height: 16vw;
    margin-top: 5px;
    border-radius: 12px;
}

.profile-list {
    width: 62vw;
    font-size: 8.5pt;
    text-indent: 50%;
    font-family: 'Jetbrains-extrabold';
    padding: 25px 0px;
    border-bottom: 1.5px dotted rgba(0,0,0,0.3);
    border-left: 1.5px dotted rgba(0,0,0,0.3);
    border-right: 1.5px dotted rgba(0,0,0,0.3);
}

.profile-list a {
    text-decoration: none;
    color: black;
    padding: 2px 1px;
    transition: var(--transition);
}

.profile-list a:hover {
    background-color: black;
    color: white;
}

/**//**//**//**//**//* KEEP IN TOUCH *//**//**//**//**//**/
.keep-in-touch {
    width: 60%;
    margin: 220px auto; /*acrescentar sempre 80px por causa do top: 80px que está na journey.page*/
    text-align: center;
    color: var(--text);
    font-family: 'Gilroy-semibold';
    font-size: 27pt;
    line-height: 26pt;
}

.keep-in-touch a {
    text-decoration: none;
    color: var(--text);
    opacity: 40%;
    transition: var(--transition);
}

.keep-in-touch a:hover {
    opacity: 1;
}

/**//**//**//**//**//* CONTACTS FOOTER *//**//**//**//**//**/
.contacts-footer {
    width: 97vw;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 325px;
}

.contacts-footer a {
    font-family: 'Jetbrains-light';
    font-size: 8.5pt;
    color: var(--text);
    transition: var(--transition);
    text-decoration: none;
    padding: 2px 1px;
    z-index: 2;
}

.contacts-footer a:hover {
    color: var(--bg);
    background-color: var(--text);
}

.name-footer {
    font-family: 'Gilroy-semibold';
    color: var(--text);
    opacity: 30%;
    width: 98.25vw;
    margin-left: 0.75vw;
    margin-right: 1vw;
    margin-top: -25px;
    white-space: nowrap;
    z-index: 1;
}

.about-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    font-family: 'Jetbrains-light';
    font-size: 8pt;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
    margin-top: -15px;
    box-sizing: border-box;
    width: 100%;
    opacity: 60%;
}

/**//**//**//**//**//* HOVER NO FOOTER *//**//**//**//**//**/
#cursor-text-footer {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.15s ease;    
    z-index: 9999;
    display: flex;
    gap: 6px;
    font-size: 9pt;
    color: black;
    background-color: white;
    padding: 2px 1px;
    white-space: nowrap;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Jetbrains-light';
}

/**//**//**//**//**//**//* PROJECTS *//**//**//**//**//**//**/
/**//**//**//**//**//**//* PROJECTS *//**//**//**//**//**//**/
/**//**//**//**//**//**//* PROJECTS *//**//**//**//**//**//**/
.first-image {
    padding-top: 45px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 97vw;
}

.first-image video {
    width: 100%;
    border-radius: 10px;
}

.proj-title {
    font-family: 'Gilroy-semibold';
    font-size: 65pt;
    padding-top: 60px;
    padding-left: 1.5vw;
    line-height: 55pt;
}

.proj-subtitle {
    font-family: 'Gilroy-semibold';
    font-size: 18pt;
    padding-left: 1.5vw;
    color: var(--text);
    line-height: 30pt;
}

.proj-info {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 2fr;
    gap: 20px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 120px;
    padding-bottom: 70px;
}

.info-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Jetbrains-extralight';
    font-size: 9pt;
    line-height: 12.5pt;
}

.info-firstline {
    font-family: 'Jetbrains-extrabold';
}

.info-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Jetbrains-extralight';
    font-size: 9pt;
    line-height: 12.5pt;
}

.info-middle p {
    margin-bottom: 0;
}

.info-right {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy-regular';
    font-size: 10.5pt;
    line-height: 15pt;
}

.info-right p {
    margin-bottom: 0;
}

.info-right-small {
    display: inline-block;
    font-size: 8pt;
    line-height: 12pt;
}

.two-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 10px;
}

.two-images img, .two-images video {
    width: 48.15vw;
    border-radius: 10px;
}

.two-images-to-zoom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 10px;
}

.two-images-to-zoom img {
    width: 48.15vw;
    border-radius: 10px;
    transition: var(--transition);
}

.two-images-to-zoom img:hover {
    cursor: none;
    filter: brightness(0.8);
}

.scans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2vw;
    padding-top: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.scans img {
    width: 48.8vw;
    border-radius: 10px;
}

.one-image {
    padding-top: 10px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 97vw;
}

.one-image img, .one-image video {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.video {
    padding-top: 10px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 97vw;
    overflow: hidden;
    border-radius: 10px;
}

.video video {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.three-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 10px;
}

.three-images img {
    width: 31.86vw;
    border-radius: 10px;
}

.three-images-to-zoom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 10px;
}

.three-images-to-zoom img {
    width: 31.86vw;
    border-radius: 10px;
    transition: var(--transition);
}

.three-images-to-zoom img:hover {
    cursor: none;
    filter: brightness(0.8);
}

.one-image a img, .one-image a video, .first-image a video {
    transition: var(--transition);
}

.one-image a img:hover {
    filter: brightness(0.9);
    cursor: none;
}

.one-image a video:hover, .first-image a video:hover, .two-images video:hover, .seven-images img:hover {
    cursor: none;
}

.info-right a {
    color: var(--text);
    transition: var(--transition);
    padding: 2px 1px;
}

.info-right a:hover {
    color: var(--bg);
    background-color: var(--text);
    text-decoration: none;
}

.seven-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 10px;
}

.seven-images img {
    width: 13.25vw;
    border-radius: 10px;
}

.three-images-mafra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 10px;
}

.three-images-mafra img {
    width: 31.86vw;
    border-radius: 10px;
}

.three-images-mafra img:hover {
    cursor: none;
}

/**//**//**//**//**//* ZOOM IMAGES *//**//**//**//**//**/
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: var(--transition);
}

#lightbox img {
    max-width: 95%;
    max-height: 95%;
    border-radius: 10px;
}

#lightbox.active {
    display: flex;
    cursor: zoom-out;
    opacity: 1;
    visibility: visible;
}

/**//**//**//**//**//* NEXT PROJECT *//**//**//**//**//**/
.next-project {
    padding-top: 150px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 97vw;
    font-family: 'Gilroy-semibold';
    font-size: 16pt;
    text-align: center;
}

.next-project-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.next-project-image img {
    height: 22vw;
    display: block;
    border-radius: 10px;
    transition: var(--transition);
}

.next-project-image a img:hover {
    filter: brightness(0.8);
    cursor: none;
}

.all-work {
    padding-top: 25px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 97vw;
    font-family: 'Jetbrains-light';
    font-size: 9pt;
    text-align: center;
}

.all-work a {
    color: var(--text);
    transition: var(--transition);
    text-decoration: none;
    padding: 2px 1px;
}

.all-work a:hover {
    color: var(--bg);
    background-color: var(--text);
}

/**//**//**//**//**//* FOOTER PROJECTOS *//**//**//**//**//**/
.contacts-footer-proj {
    width: 97vw;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 150px;
}

.contacts-footer-proj a {
    font-family: 'Jetbrains-light';
    font-size: 8.5pt;
    color: var(--text);
    transition: var(--transition);
    text-decoration: none;
    padding: 2px 1px;
    z-index: 2;
}

.contacts-footer-proj a:hover {
    color: var(--bg);
    background-color: var(--text);
}


/**//**//**//**//**//* LOADING SCREEN *//**//**//**//**//**/
/* LOADING SCREEN */
#loader {
    position: fixed;
    inset: 0;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* base comum */
#loader h1 {
    position: absolute;
    color: var(--text);
    opacity: 0;
}

/* NOME */
#loader .name {
    font-family: 'Jetbrains-light';
    font-weight: 200;
    animation: showName 1.5s ease forwards;
    font-size: 11pt;
}

/* ROLE */
#loader .role {
    font-family: 'Jetbrains-light-italic';
    font-weight: 200;
    animation: showRole 1.5s ease forwards;
    animation-delay: 1.2s;
    font-size: 11pt;
}

/* animações */
@keyframes showName {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes showRole {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}